@charset "UTF-8";
.clear:after, .grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-1 {
  width: 100%; }

.grid-2-3 {
  width: 66%;
  float: left; }

.grid-1-2 {
  width: 50%;
  float: left; }

.grid-1-3 {
  width: 33%;
  float: left; }

.grid-1-4 {
  width: 25%;
  float: left; }

.grid-1-6 {
  width: 16.5%;
  float: left; }

.grid-4-5 {
  width: 80%;
  float: left; }

.grid-1-5 {
  width: 20%;
  float: left; }

.smallcaps {
  font-family: "SortsMillGoudy-SC", "SortsMillGoudy", serif;
  letter-spacing: 0.5px; }

.drop-sc:first-line {
  font-family: "SortsMillGoudy-SC", "SortsMillGoudy", serif;
  letter-spacing: 1.5px; }
.drop-sc:first-letter {
  font-size: 3em;
  float: left;
  margin-right: 5px; }

span.italic {
  font-style: italic; }

@font-face {
  font-family: 'SortsMillGoudy';
  src: url("../fonts/OFLGoudyStM.woff") format("woff"), url("../fonts/OFLGoudyStM.otf") format("opentype");
  /* Compatibility */
  font-style: normal; }
@font-face {
  font-family: 'SortsMillGoudy-SC';
  src: url("../fonts/Goudy_OldStyle_SSi_Small_Caps_.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'SortsMillGoudy';
  src: url("../fonts/OFLGoudyStM-Italic.woff") format("woff"), url("../fonts/OFLGoudyStM-Italic.otf") format("opentype");
  /* Compatibility */
  font-style: italic; }
/* MediaDei defaults */
/* ================= */
* {
  box-sizing: border-box; }

html {
  font-family: "SortsMillGoudy", serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/* ====================================================== */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

header {
  position: relative;
  max-height: 460px;
  min-height: 460px; }
  header span#menu:target ~ nav div.buttons-right a.menu.open {
    display: none; }
  header span#menu:target ~ nav div.buttons-right a.menu.close {
    display: block; }
  header span#menu:target ~ .hero-img .navigation-menu {
    width: 300px;
    height: 100%;
    background-color: rgba(6, 21, 36, 0.7);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 50px 0px 20px;
    opacity: 1;
    z-index: 2;
    -moz-transition: width 0.5s ease, opacity 0.5s ease;
    -o-transition: width 0.5s ease, opacity 0.5s ease;
    -webkit-transition: width 0.5s ease, opacity 0.5s ease;
    transition: width 0.5s ease, opacity 0.5s ease; }
    header span#menu:target ~ .hero-img .navigation-menu a {
      padding: 10px 10px 10px 48px;
      display: block;
      color: white;
      border-bottom: 1px solid rgba(255, 255, 255, 0.31);
      text-align: center;
      text-transform: uppercase; }
      header span#menu:target ~ .hero-img .navigation-menu a:hover {
        background-color: rgba(0, 0, 0, 0.5); }
      header span#menu:target ~ .hero-img .navigation-menu a:active {
        background-color: rgba(0, 0, 0, 0.7); }
  header nav {
    width: 100%;
    background-color: rgba(6, 21, 36, 0.7);
    position: fixed;
    top: 0px;
    z-index: 3; }
    header nav div.buttons-left a, header nav div.buttons-right a {
      display: table;
      float: left; }
      header nav div.buttons-left a:last-of-type div.button, header nav div.buttons-right a:last-of-type div.button {
        border-right: none; }
      header nav div.buttons-left a.menu, header nav div.buttons-right a.menu {
        margin-left: 12px;
        margin-right: 0px; }
        header nav div.buttons-left a.menu:last-of-type, header nav div.buttons-right a.menu:last-of-type {
          margin-left: 0px; }
        header nav div.buttons-left a.menu.close, header nav div.buttons-right a.menu.close {
          display: none; }
        header nav div.buttons-left a.menu div.button, header nav div.buttons-right a.menu div.button {
          border-right: none; }
      header nav div.buttons-left a div.button, header nav div.buttons-right a div.button {
        color: white;
        text-shadow: 0px 1px 0px black;
        padding: 16px 12px;
        border-right: 1px solid rgba(255, 255, 255, 0.31); }
        header nav div.buttons-left a div.button.fa, header nav div.buttons-right a div.button.fa {
          font-size: 1.3em;
          padding: 5px 10px 8px; }
        header nav div.buttons-left a div.button:hover, header nav div.buttons-right a div.button:hover {
          background: rgba(0, 0, 0, 0.3);
          text-decoration: underline;
          text-decoration-color: #FF9900; }
    header nav div.buttons-left {
      float: left;
      text-transform: uppercase;
      font-size: 0.9em;
      letter-spacing: 2px; }
    header nav div.buttons-right {
      font-style: italic;
      font-size: 1.1em;
      float: right;
      letter-spacing: 1px; }
    header nav a.logo {
      padding: 3px 0px;
      position: absolute;
      left: 48%; }
      header nav a.logo:hover {
        text-decoration: none; }
      header nav a.logo:hover {
        background-color: rgba(0, 0, 0, 0.1); }
      header nav a.logo:active {
        background-color: rgba(0, 0, 0, 0.15); }
      header nav a.logo:before {
        content: "";
        background: url("../images/logo.png") no-repeat center center/100% auto;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 6px;
        left: -48px; }
      header nav a.logo h1 {
        margin: 0 auto;
        font-size: 0.7em;
        color: white;
        position: relative; }
  header div.hero-overlay {
    margin: 0 auto;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    header div.hero-overlay h1.header-title, header div.hero-overlay h2.header-subtitle {
      color: white;
      text-align: center; }
    header div.hero-overlay h1.header-title {
      font-size: 4em;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 10px; }
    header div.hero-overlay div.gold-line {
      width: 80%;
      border-bottom: 2px solid #FF9900;
      text-align: center;
      margin: 0 auto; }
    header div.hero-overlay h2.header-subtitle {
      font-style: italic;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
      font-size: 1.7em;
      max-width: 550px;
      margin: 20px auto 0px; }
  header div.navigation-menu {
    opacity: 0;
    width: 0px;
    height: 0px;
    -moz-transition: width 0.5s ease, opacity 0.5s ease;
    -o-transition: width 0.5s ease, opacity 0.5s ease;
    -webkit-transition: width 0.5s ease, opacity 0.5s ease;
    transition: width 0.5s ease, opacity 0.5s ease; }
    header div.navigation-menu a {
      text-decoration-color: #FF9900; }
  header div.hero-img {
    overflow: hidden;
    max-height: 500px;
    background-color: rgba(0, 0, 0, 0.31); }
    header div.hero-img img {
      width: 100%;
      height: auto;
      position: relative;
      display: block; }
  header div.hero-featured-image {
    width: 194px;
    height: 194px;
    margin: 0px auto;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #979797; }
    header div.hero-featured-image img {
      width: 100%;
      height: 100%; }

footer a {
  color: white; }
  footer a.icon {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    float: left;
    border: 2px solid #979797;
    margin-right: 18px;
    font-size: 1.5em;
    display: block; }
    footer a.icon:hover {
      text-decoration: none; }
    footer a.icon.email-icon {
      padding: 7px 8px; }
    footer a.icon.phone-icon {
      padding: 9px 9px 9px 9px; }
    footer a.icon.facebook-icon {
      padding: 9px 13px; }
    footer a.icon.twitter-icon {
      padding: 9px; }
  footer a.email, footer a.phone, footer a.social {
    display: table;
    padding-top: 10px; }
footer div.top {
  height: 149px;
  padding: 20px 40px;
  background-color: #061524; }
  footer div.top div.grid-1-3 {
    color: white;
    border-right: 1px solid #FF9900;
    height: 100%; }
    footer div.top div.grid-1-3:last-of-type {
      border-right: none; }
    footer div.top div.grid-1-3.left, footer div.top div.grid-1-3.right {
      padding-left: 40px;
      font-size: 0.9em; }
    footer div.top div.grid-1-3.center {
      font-size: 0.8em;
      background: url("../images/logo-grey-x2.png") no-repeat center center/100% auto; }
    footer div.top div.grid-1-3 address, footer div.top div.grid-1-3 div.social-media {
      height: 70px; }
    footer div.top div.grid-1-3 .email, footer div.top div.grid-1-3 .phone, footer div.top div.grid-1-3 .social {
      border-bottom: 1px solid rgba(255, 255, 255, 0.45); }
      footer div.top div.grid-1-3 .email:hover, footer div.top div.grid-1-3 .phone:hover, footer div.top div.grid-1-3 .social:hover {
        text-decoration: none;
        cursor: pointer; }
    footer div.top div.grid-1-3 p.organization, footer div.top div.grid-1-3 address {
      text-align: center; }
    footer div.top div.grid-1-3 p.organization {
      text-transform: uppercase;
      letter-spacing: 1.5px; }
footer div.bottom {
  background-color: #2A3C4F;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.5); }
  footer div.bottom div.affiliation.grid {
    width: 96%;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2);
    margin: 0px auto 20px;
    padding: 16px 0px; }
    footer div.bottom div.affiliation.grid div.grid-1-2 a {
      display: table;
      position: relative; }
      footer div.bottom div.affiliation.grid div.grid-1-2 a#rec, footer div.bottom div.affiliation.grid div.grid-1-2 a#acna {
        color: rgba(255, 255, 255, 0.6);
        font-size: 1em;
        text-shadow: 0px 1px 0px black;
        padding-top: 9px; }
        footer div.bottom div.affiliation.grid div.grid-1-2 a#rec:after, footer div.bottom div.affiliation.grid div.grid-1-2 a#acna:after {
          content: "";
          width: 30px;
          height: 40px;
          position: absolute; }
      footer div.bottom div.affiliation.grid div.grid-1-2 a#rec {
        float: right;
        padding-right: 60px; }
        footer div.bottom div.affiliation.grid div.grid-1-2 a#rec:after {
          background: url("../images/rec-icon.jpg") no-repeat center center/100% auto;
          top: 0px;
          right: 20px; }
      footer div.bottom div.affiliation.grid div.grid-1-2 a#acna {
        float: left;
        padding-left: 60px; }
        footer div.bottom div.affiliation.grid div.grid-1-2 a#acna:after {
          background: url("../images/acna-icon.jpg") no-repeat center center/100% auto;
          top: 0px;
          left: 20px; }
  footer div.bottom div.mediadei {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7em; }
    footer div.bottom div.mediadei a {
      color: rgba(255, 255, 255, 0.5); }

body.page-home header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/home-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/home-hero.jpg") no-repeat center 0px/100% auto;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home-hero.jpg") no-repeat center 0px/100% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/home-hero.jpg") no-repeat center 0px/100% auto; }

body.page-heritage header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/heritage-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/heritage-hero.jpg") no-repeat center 0px/100% auto;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/heritage-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/heritage-hero.jpg") no-repeat center 0px/100% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/heritage-hero.jpg") no-repeat center 0px/100% auto; }
body.page-heritage section.heritage {
  padding: 100px 0px; }
  body.page-heritage section.heritage h2.p-heading {
    text-align: center;
    font-style: italic;
    font-size: 2em;
    margin: 10px auto; }
  body.page-heritage section.heritage p {
    max-width: 720px;
    padding: 0px 40px;
    margin: 0 auto; }
  body.page-heritage section.heritage div.photo {
    width: 60%;
    height: 350px;
    margin: 90px auto 100px;
    border: 10px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 2px 0 4px rgba(0, 0, 0, 0.15), 0px -2px 4px rgba(0, 0, 0, 0.15), -2px 0 4px rgba(0, 0, 0, 0.15);
    background: url("../images/westminister.jpg") no-repeat center center/100% auto; }
  body.page-heritage section.heritage div.statistics.grid {
    background-color: #EDECE5;
    border-top: 1px solid #979797;
    padding: 44px 0px 58px; }
    body.page-heritage section.heritage div.statistics.grid h2 {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      margin: 10px auto 26px;
      font-size: 2em; }
    body.page-heritage section.heritage div.statistics.grid div.grid-1-3 {
      border-right: 2px solid rgba(0, 0, 0, 0.14); }
      body.page-heritage section.heritage div.statistics.grid div.grid-1-3:last-of-type {
        border-right: none; }
      body.page-heritage section.heritage div.statistics.grid div.grid-1-3 div.counter {
        width: 100%;
        text-align: center;
        color: #FF9900;
        text-shadow: 0px 1px 0px rgba(115, 115, 115, 0.5), 0px -1px 0px white;
        font-size: 4.5em;
        font-family: Georgia; }
      body.page-heritage section.heritage div.statistics.grid div.grid-1-3 p {
        width: 100%;
        text-align: center; }
  body.page-heritage section.heritage div.professor-highlight {
    display: table;
    margin: 90px auto 60px; }
    body.page-heritage section.heritage div.professor-highlight img {
      border-radius: 100%;
      margin-top: 15px;
      margin-right: 40px;
      box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 3px #979797;
      float: left; }
    body.page-heritage section.heritage div.professor-highlight div.text {
      float: left; }
      body.page-heritage section.heritage div.professor-highlight div.text p.bio {
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
        padding: 40px 10px;
        font-style: italic;
        line-height: 1.5;
        font-size: 1.3em;
        position: relative; }
        body.page-heritage section.heritage div.professor-highlight div.text p.bio span {
          text-transform: uppercase;
          font-style: normal; }
          body.page-heritage section.heritage div.professor-highlight div.text p.bio span:first-letter {
            font-size: 1.3em; }
        body.page-heritage section.heritage div.professor-highlight div.text p.bio:before {
          content: "”";
          position: absolute;
          top: -6px;
          font-family: georgia;
          background: white;
          font-size: 120px;
          left: 39%;
          padding-top: 30px;
          line-height: 0.1;
          padding-left: 50px;
          width: 120px; }
      body.page-heritage section.heritage div.professor-highlight div.text p.prof-name, body.page-heritage section.heritage div.professor-highlight div.text p.title {
        font-size: 0.8em; }
      body.page-heritage section.heritage div.professor-highlight div.text p.prof-name {
        margin: 20px 0px 0px 0px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        display: table;
        position: relative; }
        body.page-heritage section.heritage div.professor-highlight div.text p.prof-name:before {
          content: "-";
          position: absolute;
          left: 30px; }
      body.page-heritage section.heritage div.professor-highlight div.text p.title {
        margin-top: 4px; }
  body.page-heritage section.heritage div.bottom-photo {
    width: 100%;
    height: 730px;
    background: url("../images/heritage-bottom.jpg") no-repeat center center/100% auto; }

body.page-programs header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/programs-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/programs-hero.jpg") no-repeat center 0px/100% auto;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/programs-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/programs-hero.jpg") no-repeat center 0px/100% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/programs-hero.jpg") no-repeat center 0px/100% auto; }
body.page-programs section.programs {
  padding-bottom: 100px; }
  body.page-programs section.programs div.program {
    padding: 100px 0px 80px;
    border-bottom: 1px solid #979797; }
    body.page-programs section.programs div.program:last-of-type {
      border-bottom: none; }
    body.page-programs section.programs div.program h2.program-title {
      letter-spacing: 3px;
      text-align: center;
      font-size: 2.1em;
      text-transform: uppercase; }
    body.page-programs section.programs div.program p.short-desc {
      font-style: italic;
      text-align: center;
      max-width: 520px;
      margin: 0 auto 50px;
      font-size: 1.1em;
      line-height: 1.4; }
    body.page-programs section.programs div.program img.program-img {
      width: 100%;
      height: auto; }
    body.page-programs section.programs div.program div.statistics.grid {
      width: 85%;
      position: relative;
      top: -70px;
      background-color: #EDECE5;
      padding: 30px 0px 30px;
      margin: 0 auto; }
      body.page-programs section.programs div.program div.statistics.grid div.grid-1-3 {
        border-right: 2px solid rgba(0, 0, 0, 0.14); }
        body.page-programs section.programs div.program div.statistics.grid div.grid-1-3:last-of-type {
          border-right: none; }
        body.page-programs section.programs div.program div.statistics.grid div.grid-1-3 p.number {
          width: 100%;
          text-align: center;
          color: #FF9900;
          text-shadow: 0px 1px 0px rgba(115, 115, 115, 0.5), 0px -1px 0px white;
          font-size: 4.5em;
          font-family: Georgia;
          margin: 0px; }
        body.page-programs section.programs div.program div.statistics.grid div.grid-1-3 p {
          width: 100%;
          text-align: center; }
    body.page-programs section.programs div.program p.long-desc {
      max-width: 620px;
      margin: 30px auto 80px; }

body.page-admissions header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/admissions-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/admissions-hero.jpg") no-repeat center 0px/100% auto;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/admissions-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/admissions-hero.jpg") no-repeat center 0px/100% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/admissions-hero.jpg") no-repeat center 0px/100% auto; }

body.page-students header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/students-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/students-hero.jpg") no-repeat center 0px/100% auto;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/students-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/students-hero.jpg") no-repeat center 0px/100% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/students-hero.jpg") no-repeat center 0px/100% auto; }

body.blog header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/news-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/news-hero.jpg") no-repeat center 0px/100% auto;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/news-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/news-hero.jpg") no-repeat center 0px/100% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/news-hero.jpg") no-repeat center 0px/100% auto; }

section.news {
  padding: 60px 0px 90px; }

body.page-apply header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/apply-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/apply-hero.jpg") no-repeat center 0px/100% auto;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/apply-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/apply-hero.jpg") no-repeat center 0px/100% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/apply-hero.jpg") no-repeat center 0px/100% auto; }
body.page-apply section.apply div.application-step {
  padding: 80px; }
  body.page-apply section.apply div.application-step.offset {
    background-color: #FBFBF8; }
  body.page-apply section.apply div.application-step div.number, body.page-apply section.apply div.application-step div.info {
    display: inline-block; }
  body.page-apply section.apply div.application-step div.number {
    background-color: white;
    border-radius: 100%;
    font-size: 10em;
    color: #FF9900;
    font-style: italic;
    border: 1px solid #EDECE5;
    padding: 0px 100px;
    width: 255px;
    height: 255px; }
    body.page-apply section.apply div.application-step div.number.offset {
      background-color: #FBFBF8; }
  body.page-apply section.apply div.application-step div.info {
    width: 604px;
    font-size: 1.2em;
    padding: 20px 8px;
    position: relative; }
    body.page-apply section.apply div.application-step div.info:before {
      position: absolute;
      content: "";
      width: 10px;
      height: 100%;
      background: transparent;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
      left: 0px; }
    body.page-apply section.apply div.application-step div.info a.application-dl {
      color: #061524;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      display: table;
      position: relative;
      margin-bottom: 20px; }
      body.page-apply section.apply div.application-step div.info a.application-dl:hover {
        text-decoration: none; }
      body.page-apply section.apply div.application-step div.info a.application-dl:before {
        content: "";
        border-bottom: 1px solid #FF9900;
        width: 100%;
        height: 1px;
        bottom: -5px;
        position: absolute; }

body.page-contact header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/contact-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/contact-hero.jpg") no-repeat center 0px/100% auto;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/contact-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/contact-hero.jpg") no-repeat center 0px/100% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/contact-hero.jpg") no-repeat center 0px/100% auto; }

body.page-give header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("../images/give-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4))), url("../images/give-hero.jpg") no-repeat center 0px/100% auto;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/give-hero.jpg") no-repeat center 0px/100% auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/give-hero.jpg") no-repeat center 0px/100% auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/give-hero.jpg") no-repeat center 0px/100% auto; }

body.single header {
  min-height: auto;
  padding-top: 140px; }
body.single section.single article.post {
  max-width: 728px;
  margin: 0 auto;
  padding: 20px 0px; }
  body.single section.single article.post h1 {
    display: table;
    margin: 0 auto 80px;
    position: relative;
    text-align: center; }
    body.single section.single article.post h1:before {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 50%;
      margin: 0 auto;
      height: 2px;
      width: 50%;
      -moz-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -webkit-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      border-bottom: 2px solid #FF9900; }
  body.single section.single article.post p:first-line {
    font-family: "SortsMillGoudy-SC"; }
  body.single section.single article.post time {
    font-style: italic;
    display: block; }
    body.single section.single article.post time:first-of-type {
      margin: 40px auto 10px;
      text-align: center;
      font-size: 1.2em; }
    body.single section.single article.post time:last-of-type {
      margin: 40px 0px 30px; }
  body.single section.single article.post div.categories {
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    padding: 8px 0px; }
    body.single section.single article.post div.categories a {
      color: #1461A3;
      font-style: italic; }
body.single section.single div.more-posts-banner {
  background: #061524;
  padding: 18px 0px;
  overflow: hidden;
  position: relative;
  border-top: 1px solid #061524;
  border-bottom: 1px solid #061524;
  box-shadow: inset 0px -1px 0px 0px white, inset 0px 1px 0px 0px white;
  margin: 80px 0px 40px; }
  body.single section.single div.more-posts-banner img {
    position: absolute;
    left: 0;
    opacity: 0.09;
    width: 400px;
    height: auto; }
  body.single section.single div.more-posts-banner p {
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2em;
    margin: 0px; }
body.single section.single div.latest-posts {
  background-color: #FBFBF8;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797; }
  body.single section.single div.latest-posts article.post-preview {
    max-width: 728px;
    margin: 0 auto;
    border-bottom: 1px solid #B3ABAB; }
    body.single section.single div.latest-posts article.post-preview:last-of-type {
      border-bottom: none; }

body {
  font-size: 18px;
  color: #554F4B;
  line-height: 1.3; }
  body address {
    font-style: normal; }
  body p {
    hyphens: auto; }
  body div.founded-banner {
    background: #061524;
    padding: 18px 0px;
    overflow: hidden;
    position: relative; }
    body div.founded-banner img {
      position: absolute;
      left: 0;
      opacity: 0.09;
      width: 400px;
      height: auto; }
    body div.founded-banner div.grid-1-2:first-of-type {
      border-right: 1px solid #FF9900;
      padding: 20px 0px; }
    body div.founded-banner div.grid-1-2 p {
      text-align: center;
      color: white; }
      body div.founded-banner div.grid-1-2 p.top {
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 6px; }
      body div.founded-banner div.grid-1-2 p.bottom {
        font-style: italic; }
      body div.founded-banner div.grid-1-2 p.date {
        font-size: 4.5em; }
  body div.connect-banner {
    background: #061524;
    overflow: hidden;
    position: relative;
    max-width: 620px;
    margin: 0 auto;
    padding: 6px 0px 8px; }
    body div.connect-banner img {
      position: absolute;
      left: -90px;
      top: -55px;
      opacity: 0.09;
      width: 310px;
      height: auto; }
    body div.connect-banner div.grid-2-3 {
      padding: 10px 0px; }
      body div.connect-banner div.grid-2-3 p {
        text-align: center;
        color: white; }
        body div.connect-banner div.grid-2-3 p.top {
          font-size: 1.3em;
          margin: 0;
          position: relative; }
          body div.connect-banner div.grid-2-3 p.top:before {
            content: "";
            border-bottom: 1px solid #FF9900;
            height: 6px;
            width: 80px;
            top: 20px;
            left: 40%;
            position: absolute; }
        body div.connect-banner div.grid-2-3 p.bottom {
          font-style: italic;
          color: #C1C1C1;
          margin: 6px 0px 0px; }
    body div.connect-banner div.grid-1-3 a.button {
      background-color: #CFCDC0;
      padding: 9px 9px;
      border: 2px solid #979378;
      box-shadow: 0px 0px 0px 1px #061524, 0px 0px 0px 2px rgba(161, 158, 141, 0.6);
      text-shadow: 0px 1px 0px white;
      color: #061524;
      display: table;
      margin: 20px auto 0px;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 1.5px; }
      body div.connect-banner div.grid-1-3 a.button:hover {
        text-decoration: none; }
      body div.connect-banner div.grid-1-3 a.button:active {
        margin-top: 21px; }
  body article.post-preview {
    padding: 50px 20px;
    border-bottom: 1px solid #E0E0E0; }
    body article.post-preview.bg-color {
      background-color: #FBFBF8; }
      body article.post-preview.bg-color a {
        margin: 6px auto 30px; }
    body article.post-preview time {
      margin: 0 auto;
      display: table;
      font-style: italic;
      font-size: 0.9em; }
    body article.post-preview a {
      display: table;
      color: #554F4B;
      text-align: center;
      margin: 6px auto 20px;
      font-size: 1.5em;
      max-width: 728px; }
    body article.post-preview div.content {
      margin: 0 auto;
      max-width: 728px; }
      body article.post-preview div.content figure {
        float: left;
        margin: 0px 30px 0px 0px;
        display: table;
        border: 1px solid #979797; }
        body article.post-preview div.content figure img {
          display: block;
          width: 232px;
          height: 161px; }
      body article.post-preview div.content p {
        padding-top: 9px;
        margin-top: 0; }
        body article.post-preview div.content p:first-line {
          font-family: "SortsMillGoudy-SC"; }
