body.page-apply{
  header{
    @include background( 
        linear-gradient(rgba(black,0.4), rgba(black,0.4)),
        url('../images/apply-hero.jpg') no-repeat center 0px / 100% auto
      ); 
  }
  section.apply{
    padding-bottom: 140px;
    div.application-step{
      padding: 80px; 
      &.offset{
        background-color: $offset-color; 
      }
      div.number,div.info{
        display: inline-block;
      }
      div.number{
        background-color: white;
        border-radius: 100%;
        font-size: 12em;
        color: $orange;
        font-style: italic;
        border: 1px solid #EDECE5;
        width: 255px;
        height: 255px;
        &.offset{
          background-color: $offset-color; 
        } 
        &.num-1{
          padding: 0px 92px;
          line-height: 1.1;
        }
        &.num-2{
          padding: 0px 78px;
          line-height: 1;
        }
        &.num-3{
          padding: 0px 84px;
          line-height: 0.9; 
        }
        &.num-4{
          padding: 0px 65px;
          line-height: 0.9; 
        }
      }
      div.info{
        width: 604px;
        font-size: 1.2em;
        padding: 20px 8px;
        position: relative;
        &:before{
          position: absolute;
          content:"";
          width: 10px;
          height: 100%;
          background: transparent;
          box-shadow: 0px 2px 6px 0px rgba(black,0.5);
          left: 0px;
        }
        h2{
          text-transform: uppercase;
          font-size: 1.2em;
          letter-spacing: 2.5px;
          margin-bottom: 5px;
          span{
            font-size: 1.7em;
          }
        }
        p{
          margin: 0 auto 22px;
        }
        a.application-dl{
          color: #061524;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          display: table;
          position: relative;
          margin-bottom: 20px; 
          font-size: 0.6em;
          &:hover{
            text-decoration: none;
          }
          &:before{
            content:"";
            border-bottom: 1px solid $orange;
            width: 100%; 
            height: 1px;
            bottom: -3px;
            position: absolute; 
          }
          &:after{ //rarr;
            content:"";
            background: url("../images/rarr.png") no-repeat center center;
            width: 18px;
            height: 10px;  
            position: absolute;
            top: 3px;
            right: -26px; 
          }
        }
      }
    }
    h2#residency{
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 3px;
      font-size: 2em;
      max-width: 420px;
      margin: 80px auto 40px;
    }
    ul{
      max-width: 745px;
      margin: 0 auto 150px;
      background-color: #FBFBF8;
      padding: 30px 70px;
      li{
       line-height: 1.3; 
       margin-bottom: 30px;
       padding-left: 10px; 
      }
    }
    div.bottom-photo{
      width: 100%;
      height: 730px;
      background: url("../images/res-name.jpg") no-repeat center center / 100% auto; 
      position: relative;
      &:after{
        content:"";
        width: 100%;
        height: 10%;
        @include background(linear-gradient(rgba(white,1), rgba(white,0)));
        position: absolute;
        top: 0px;
      }
    }
  }
}
