body.page-heritage{
  header{
    @include background( 
        linear-gradient(rgba(black,0.4), rgba(black,0.4)),
        url('../images/heritage-hero.jpg') no-repeat center 0px / 100% auto
      ); 
  }
  section.heritage{
    padding: 100px 0px; 
    h2.p-heading{
      text-align: center;
      font-style: italic; 
      font-size: 2em;
      margin: 10px auto;
    }
    p{
      max-width: 720px;
      padding: 0px 40px; 
      margin: 0 auto;
    }
    div.photo{
      width: 60%;
      height: 350px; 
      margin: 90px auto 100px;
      border: 10px solid rgba(white,1);
      box-shadow: 0 2px 4px rgba(0,0,0, 0.15), 2px 0 4px rgba(0,0,0, 0.15),0px -2px 4px rgba(0,0,0, 0.15),-2px 0 4px rgba(0,0,0, 0.15);
      background: url("../images/westminister.jpg") no-repeat center center / 100% auto; 
    }
    div.statistics.grid{
      background-color: $tan-offset;
      border-top: 1px solid #979797;
      padding: 44px 0px 58px; 
      h2{
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        margin: 10px auto 26px;
        font-size: 2em;
      }
      div.grid-1-3{
        &:last-of-type{
          border-right: none;
        }
        border-right: 2px solid rgba(black,0.14);
        div.counter{
          width: 100%;
          text-align: center;
          color: $orange;
          text-shadow: 0px 1px 0px rgba(115,115,115,0.5), 0px -1px 0px rgba(white,1);
          font-size: 4.5em;
          font-family: Georgia; 
        }
        p{
          width: 100%;
          text-align: center;
        }
      }
    }
    div.bottom-photo{
      width: 100%;
      height: 730px;;
      background: url("../images/heritage-bottom.jpg") no-repeat center center / 100% auto; 
 
    }
  }
}
