//init and global style includes
@import "compass/css3";
@import "bits";
@import "normalize";
@import "header";
@import "footer";

//page style includes
@import "home";

@import "heritage";
@import "programs";
@import "admissions";
@import "students";

@import "news";
@import "apply";
@import "contact";
@import "give";

@import "single";

//global styles
body{
  font-size: 18px;
  color: $base-text;
  line-height: 1.3;
  address{
    font-style: normal; //disable default italics
  }
  p{
    hyphens: auto;
  }
  div.founded-banner{
    background: #061524;
    padding: 18px 0px; 
    overflow: hidden;
    position: relative;
    img{
      position: absolute;
      left: 0;
      opacity: 0.09; 
      width: 400px;
      height: auto;
    }
    div.grid-1-2{
      &:first-of-type{
        border-right: 1px solid $orange;
        padding: 20px 0px; 
      }
      p{
        text-align: center;
        color: white;
        &.top{
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 6px; 
        }
        &.bottom{
          font-style: italic;
        }
        &.date{
          font-size: 4.5em; 
        }
      }
    } 
  }
  div.connect-banner{
    background: #061524;
    overflow: hidden;
    position: relative;
    max-width: 620px;
    margin: 0 auto; 
    padding: 6px 0px 8px;
    
    img{
      position: absolute;
      left: -90px;
      top: -55px;
      opacity: 0.09; 
      width: 310px;
      height: auto;
    }
    div.grid-2-3{
      padding: 10px 0px;
      p{
        text-align: center;
        color: white;
        &.top{
          font-size: 1.3em;
          margin: 0; 
          position: relative;
          &:before{
            content: "";
            border-bottom: 1px solid $orange;
            height: 6px;
            width: 80px;
            top: 20px;
            left: 40%;     
            position: absolute;
          }
        }
        &.bottom{
          font-style: italic;
          color: #C1C1C1;
          margin: 6px 0px 0px;
        }
      }
    } 
    div.grid-1-3{
      a.button{
        background-color: #CFCDC0;
        padding: 9px 9px;
        border: 2px solid #979378;
        box-shadow: 0px 0px 0px 1px #061524, 0px 0px 0px 2px rgba(161,158,141,0.6);
        text-shadow: 0px 1px 0px white;
        color: #061524;
        display: table;
        margin: 20px auto 0px;
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        &:hover{
          text-decoration: none;
        }
        &:active{
          margin-top: 21px; 
        }
      }
    }
  }
  article.post-preview{
    padding: 50px 20px; 
    border-bottom: 1px solid #E0E0E0;
    &.bg-color{
      background-color: #FBFBF8;
      a{
        margin: 6px auto 30px;
      }
    }
    time{
      margin: 0 auto;
      display: table; 
      font-style: italic;
      font-size: 0.9em;
    }
    a{
      display: table;
      color: $base-text;
      text-align: center;
      margin: 6px auto 20px;
      font-size: 1.5em;
      max-width: 728px; 
    }
    div.content{
      margin: 0 auto;
      max-width: 728px;
      figure{
        float: left; 
        margin: 0px 30px 0px 0px;
        display: table; 
        border: 1px solid #979797;
        
        img{
          display: block;
          width: 232px;
          height: 161px;  
        }
      }
      p{
        padding-top: 9px;
        margin-top: 0; 
        &:first-line{
          font-family: "SortsMillGoudy-SC";
        }
      }
    }
  }
}
